.col {
    position: relative;
    overflow: hidden;
    transition: transform 2s;

}

.col::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #918b8b;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, width 2s ease ;
    z-index: -1;

}

.col:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible;
    z-index: -1;
}
.col:hover {
    color: #ffc107;
    transform: scale3d(1.02,1.02,1.02);
}