*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: "Oswald", sans-serif;
    text-transform: capitalize;
}

 .search select{

     text-transform: capitalize;
     font-size: 18px;

 }


 .navbar{
     background: #ffc107;
 }
 .page-item a{
     background: #737373;
     color: #fefefe;
 }
  .act a{
       background: #ffc107;
  }
select{
    padding:7px 0 ;
}

